# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# KDevelop4 project files
*.kdev4

# Eagle temporary files
*.[bsl]#[0-9]

# Some more files
/firmware/ti/build/*.local
/output
/schematics/gerber
/schematics/zip
